@use "../../../shared/styles/vars" as *;
@use "../../../shared/styles/slider";

#our-friends {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 55px;
  }

  .title {
    text-align: center;
    color: $color-dark-l;
  }

  .slider {
    &__wrapper {
      max-width: 1000px;
      column-gap: 90px;
      padding: 5px;
    }
  }
}

@media (max-width: 1279px) {
  #our-friends {
    .slider {
      &__wrapper {
        max-width: 590px;
        column-gap: 40px;
      }
    }
  }
}

@media (max-width: 767px) {
  #our-friends {
    .content-wrapper {
      row-gap: 37px;
    }

    .slider {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 15px;
      column-gap: 80px;
      margin-bottom: 5px;

      &__wrapper {
        order: 1;
        max-width: 280px;
        justify-content: center;
      }

      &__nav-button {
        order: 2;
      }
    }
  }
}
