@use "../../../shared/styles/vars" as *;
@use "../../../shared/styles/slider";

#our-friends {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 60px;
  }

  .title {
    text-align: center;
    color: $color-dark-l;
  }

  .slider {
    &__slides {
      max-width: 990px;
      
      &-wrapper {
        column-gap: 90px;
      }
    }
  }
}

@media (max-width: 1279px) {
  #our-friends {
    .slider {
      &__slides {
        max-width: 580px;

        &-wrapper {
          column-gap: 40px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #our-friends {
    .content-wrapper {
      row-gap: 42px;
    }

    .slider {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 20px;
      column-gap: 80px;
      margin-bottom: 5px;

      &__slides {
        order: 1;
        max-width: 270px;
        justify-content: center;

        &-wrapper {
          column-gap: 40px;
        }
      }

      &__nav-button {
        order: 2;
      }
    }
  }
}
