@use "../../../shared/styles/vars" as *;
@use "../../../shared/styles/slider";

#our-friends {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 60px;
  }

  .title {
    text-align: center;
    color: $color-dark-l;
  }

  .slider {
    &__slides {
      max-width: 990px;
      
      &-wrapper {
        --column-gap: 90px;
        column-gap: var(--column-gap);
        transform: translateX(calc(-1 * (100% + var(--column-gap))));

        &.move-left {
          animation: 0.2s ease move-left;
        }

        @keyframes move-left {
          from {
            transform: translateX(calc(-1 * (100% + var(--column-gap))));
          }

          to {
            transform: translateX(0%);
          }
        }

        &.move-right {
          animation: 0.2s ease move-right;
        }

        @keyframes move-right {
          from {
            transform: translateX(calc(-1 * (100% + var(--column-gap))));
          }
        
          to {
            transform: translateX(calc(-2 * (100% + var(--column-gap))));
          }
        }
      }
    }
  }
}

@media (max-width: 1279px) {
  #our-friends {
    .slider {
      &__slides {
        max-width: 580px;

        &-wrapper {
          --column-gap: 40px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #our-friends {
    .content-wrapper {
      row-gap: 42px;
    }

    .slider {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 20px;
      column-gap: 80px;

      &__slides {
        order: 1;
        max-width: 270px;
        justify-content: center;

        &-wrapper {
          --column-gap: 40px;
        }
      }

      &__nav-button {
        order: 2;
      }
    }
  }
}
