@use "vars" as *;

.button {
  padding: 15px 45px;
  border-radius: 100px;
  color: $color-dark-3xl;
  @include hover-transition(background-color);

  &--primary {
    background-color: $color-primary;
  }

  &--secondary {
    border: 2px solid $color-primary;
  }

  &:hover {
    background-color: $color-primary-light;
    @include hover-transition(background-color);
  }
}
