@use "vars" as *;
@use "typography";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &--interactive {
    cursor: pointer;
    @include hover-transition(background-color);
    @include hover-transition(filter);

    &:hover {
      background-color: $color-light-xl;
      filter: drop-shadow(0 0 3px $color-dark-s);
      @include hover-transition(background-color);
      @include hover-transition(filter);
    }
  }

  &__title {
    @extend .h4;
    color: $color-dark-l;
  }
}
