@use "normalize";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block; /* Remove margin from images */
  // fit size of containing div
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
