$color-black: #000000;
$color-dark-3xl: #292929;
$color-dark-2xl: #444444;
$color-dark-xl: #4c4c4c;
$color-dark-l: #545454;
$color-dark-m: #b2b2b2;
$color-dark-s: #cdcdcd;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #ffffff;

@mixin hover-transition($property) {
  transition: $property 0.2s ease;
}
